<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
      <a href="/" class="brand">{{ site.name }}</a>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav pull-right">
          <li class="divider"></li>
          <li>
            <a href="https://www.linkedin.com/in/jingweno">
              <i class="fui-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/JingwenOwenOu">
              <i class="fui-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/116384151198560836084">
              <i class="fui-googleplus"></i>
            </a>
          </li>
          </li>
        </ul> <!-- /nav -->

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
