<div class="sidebar-node">
  {% include google_search.html %}
</div>

<div class="sidebar-node">
  <h3>Pages</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>

<div class="sidebar-node">
  <h3>Follow me</h3>
  <ul>
    <li><a href="http://twitter.com/JingwenOwenOu">Twitter</a></li>
    <li><a href="http://www.linkedin.com/in/jingweno">LinkedIn</a></li>
    <li><a href="http://github.com/jingweno">GitHub</a></li>
  </ul>
</div>

<div class="sidebar-node">
  <h3><a href="/tags">Tags</a></h3>
  <p>
    {% for tag in site.tags %}
    {% assign t = tag.first %}
    {% assign posts = tag.last %}
      <a id="{{ t | cgi_escape }}" class="tag tag{{posts.size}}" href="/tags/#{{ t | cgi_escape }}">{{ t }}</a>
    {% endfor %}
  </p>
</div>

<div class="sidebar-node">
  <h3>Subscribe</h3>
  {% include feedburner.html %}
</div>

<div class="sidebar-node">
  <div class="postrank-widget theDarkSide">
    <script type="text/javascript" src="http://api.postrank.com/static/widget-v2.js"></script>
    <script type="text/javascript">
      var options = {
        "feed_hash": "8a8bf5a90dfa71e6ee0206b8a08c62b7",
        "num":        6 ,
        "theme":     "theDarkSide",
        "hasLink":   true
      };
      new PostRankWidget(options);
    </script>
    <div class="powered-by-postrank-wrapper">
      <div class="pr_bottomCornerSet">
        <div class="pr_clearBottomLeft"></div>
        <div class="pr_solidSpecialMiddle"></div>
        <div class="pr_clearBottomRight"></div>
      </div>
    </div>
  </div>
</div>
