/**
 * Controls the main layout (width, height, margin, padding)
 *
 * #container
 *   #header
 *   #page
 *     #content
 *     #sidebar
 *   #footer
 */
body {
  text-align: center;
  margin: 0; padding: 0.6em 1em 1em 1em; 
}

#container {
  width: 900px;
  max-width: 900px;
  text-align: left; 
  margin: 0 auto; padding: 0;
}

#header {
  height: 62px;
  margin: 0 -0.5px 12px 0; padding: 0;
}

#page {
  clear:both; 
}

#content {
  float: left;
  width: 662px;
  padding: 0 0 0 5px; 
}

#sidebar {
  float: right;
  text-align: left;
  width: 200px;
  padding-left: 15px; 
  border-left: 1px dotted #ddd; 
}

#footer {
  height: 40px; 
  margin: 10px 0 0; padding: 10px 0 0;
  clear:both; 
}

@media all and (max-width: 950px) {
  #header {
    height: auto;
    padding-bottom: 12px;
  }
  #container, #content, #sidebar {
    float: none;
    width: 100%;
    padding: 0;
    border: none;
    margin: 0;
  }
  #sidebar {
    border-top: 1px solid black;
    padding-top: 5px;
  }
}

/*--------------------------------------------------------------
 Header
 --------------------------------------------------------------*/

#header { 
  background: url(/images/theme/header_shadow.gif) repeat-x left bottom;
}

#header a:link,
#header a:visited { 
  color: #000;
  text-decoration: none;
}

#header a:hover,
#header a:active {
  color: #039; background: transparent;
  text-decoration: none;
}

#header h1 {
  font: bold 410% georgia, serif; 
  letter-spacing: -1px; 
  margin: 0; padding: 0 3px;
  float: left; 
}

#header h2 {
  font: normal 12px verdana, arial, sans-serif;  
  margin: 2.5em 0 0 0.8em;
  float: left;
}

@media all and (max-width: 950px) {
  #header h2, #header h1 {
    float: none;
  }
  #header h2 {
    margin-top: .5em;
  }
}

/*--------------------------------------------------------------
 Content
 --------------------------------------------------------------*/

#content {}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5 { 
  font-family: georgia, times;
  font-weight: normal;
  letter-spacing: -1px;
}

#content h1 { 
  font-size: 28px;
  margin: 0 0 0.3em;  
}

#content h2 { 
  font-size: 24px;
  margin: 0 0 0.3em;  
}

#content h3 { 
  font-size: 22px;
  margin: 1.2em 0 0.3em;  
}

#content h4 { 
  font-size: 20px;
  margin: 1.2em 0 0.3em;  
  border-bottom: 1px dotted #bbb;
}

#content h5 {
  font-size: 20px;
  background: #ffd;
  margin: 1.2em 0 0.3em;  
  border-bottom: 1px dotted #aaa;
}

#content p {
  line-height: 1.5em;
  margin: 0 0 1.0em;
}

#content ul,
#content ol {
  margin: 1em;
  padding:0;
}

#content ul {
  list-style-type: square;
}

#content li {
  line-height: 1.5em;
  margin: 0 0 0 1em; padding: 0;
}

#content blockquote {
  color: #555;
  border-left: 5px solid #ccc; 
  margin: 1.3em 1em; padding: 0 1em;
}

#content code { 
  font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
}

#content pre {
  color: #63FF00;
  background: #000;
  overflow: auto;
  font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
  margin: 0.9em 0; padding: 8px;
}

#content .image {
  text-align: center;
}

/* Article Entries - class names based on http://microformats.org/wiki/hatom] */
#content {}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5 { 
  font-family: "lucidamac bold", "lucida grande", arial, sans-serif; 
  letter-spacing: -1px;
}

#content h1 { 
  font-size: 24px;
  margin: 0 0 0.3em;  
}

#content h2 { 
  font-size: 22px;
  margin: 0 0 0.3em;  
}

#content h3 { 
  font-size: 20px;
  margin: 1.2em 0 0.3em;  
}

#content h4 { 
  font-size: 18px;
  margin: 1.2em 0 0.3em;  
  border-bottom: 1px dotted #bbb;
}

#content h5 {
  font-size: 18px;
  background: #eef;
  margin: 1.2em 0 0.3em;  
  border-bottom: 1px dotted #aaa;
}

#content p {
  line-height: 15px; 
  margin: 0 0 1.2em;
}

#content ul,
#content ol {
  margin: 1em;
  padding:0;
}

#content ul {
  list-style-type: square;
}

#content li {
  line-height: 15px; 
  margin: 0 0 0 1em; padding: 0;
}

#content blockquote {
  color: #555;
  border-left: 5px solid #ccc; 
  margin: 1.3em 1em; padding: 0 1em;
}

#content code { 
  font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
  color: #000;
  background: #eee;
}

#content pre {
  color: #000;
  background: #ddd;
  overflow: auto;
  font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
  margin: 0.9em 0; padding: 8px;
}

#content pre code {
  background: #ddd;
}

/* Article Entries - class names based on http://microformats.org/wiki/hatom] */
#content .hentry { 
  margin: 0 0 3em 0;
}

#content .hentry .entry-title {
  font-size: 24px;
  line-height: 94%;
  letter-spacing: -0.75px; 
  margin: 0;
}

#content .hentry .entry-title a:link,
#content .hentry .entry-title a:visited { 
  color: #039;
  text-decoration: none;
}

#content .hentry .entry-title a:hover,
#content .hentry .entry-title a:active { 
  color: #000;
  background: transparent;
}

#content .hentry .entry-title .comment_count { display: none; }

#content .hentry .vcard,
#content .hentry .published {
  float: left;
  color: #a9a9a9;
  font: normal 12px "lucidamac bold", "lucida grande", arial, verdana, sans-serif;
  letter-spacing: -1px;
  margin: 1px 0 0.6em 2px;
}

#content .hentry .fn {
  font-weight:bold;
  margin-right: 5px;
}

#content .hentry .fn a,
#content .hentry .fn a:hover {
  color: #aaa; background: transparent;
  text-decoration: none;
}

#content .hentry .clear { clear: both; }

#content .hentry .entry-content { }

#content .hentry .meta { 
  font-size: 10px;
  background: #eee;
  margin: 0; padding: 5px;
  border: 1px solid #ddd;
  list-style-type: none;
}

#content .hentry ul.meta li { 
  line-height: 13px;
  margin: 0; padding: 0;
}

#content .hentry .meta a:link,
#content .hentry .meta a:visited {
  color: #555;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

#content .hentry .meta a:hover,
#content .hentry .meta a:active  {
  color: #fff;
  background: #666;
}


/* Comments and Trackbacks */
#content ol.comments {
  list-style-type: none;
  margin: 0; padding: 0;
}

#content li.comment {
  border: 2px solid #ddd;
  margin: 0 0 1.5em; padding: 1em;
}

#content li.by-author {
  border-color: #039;
  background-color: #f7f7ff;
}

#content li.comment.preview { 
  background: #ffc;
  border: 3px solid #fab444;
  margin: 0 0 1.5em; padding: 1em;
}

#content li.comment .author { 
  font-weight: bold;
  margin-bottom: 1em;
}

#content li.by-author .author {
}

#content li.comment .author cite {
  font-size: 16px;
  letter-spacing: -1px;
}

#content li.comment .author abbr { color: #999; }

#content li.comment .author .gravatar { 
  margin: 0 0 0.5em 0.5em;
  float: right; 
}

#content li.comment .author div {
  margin: 0 0 0.5em 0.5em;
  width: 60px; height: 60px;
  background: url("/images/gravatar.gif") no-repeat left top;
  float: right; 
}

#content form#new_comment {
  background: #f2f2f2;
  border-top: 1px solid #ddd;
  padding: 1em 0.5em;
}

#content form#new_comment fieldset { 
  border: none;
}

#content form#new_comment legend { 
  display: none;
}

#content form#new_comment label { 
  font-weight: bold;
}

#content form#new_comment textarea { 
  width: 90%; height: 150px;
  padding: 3px;
}

#content dl.results dt {
  font-weight: bold;
}
#content dl.results dd {
  margin: 0;
}

ul#archives {
  list-style-type: none; 
  margin: 0 0 2em; padding: 0;
}
#archives li.month {
  margin-top: 0.25em;
  margin-left: 0.5em;
  font-weight: bold;
}
#archives li.post {
  margin-left: 1.25em;
}

#archives a:link,  #archives a:visited { color: #039;    text-decoration: none; }
#archives a:hover, #archives a:active  { color: #00afff; text-decoration: underline; }

.results a:link,  .results a:visited { color: #039;    text-decoration: none; }
.results a:hover, .results a:active  { color: #00afff; text-decoration: underline; }

.clean_link a:link,  .clean_link a:visited { color: #039;    text-decoration: none; }
.clean_link a:hover, .clean_link a:active  { color: #00afff; text-decoration: underline; }

/*--------------------------------------------------------------
 Sidebar
 --------------------------------------------------------------*/

#sidebar {
  font-size: 11px; 
}

#sidebar h3 { 
  font: bold 14px "lucidamac bold", "lucida grande", verdana, arial, helvetica, sans-serif;
  margin: 0 0 0.5em;
}

#sidebar h3 a:link,
#sidebar h3 a:visited {
  color: #000; text-decoration: none;
}

#sidebar h3 a:hover,
#sidebar h3 a:active {
  background: transparent; text-decoration: underline;
}

#sidebar ul {
  list-style-type: none; 
  margin: 0 0 2em; padding: 0;
}

#sidebar p {
	margin: 0 0 2em; padding: 0;
}

#sidebar li { 
  margin: 0;
  padding: 1px 0;
}

#sidebar em { font-style: normal; }

/* Live-search and results */
#sidebar .search p { 
  margin: 0 0 1em 0;
}

#sidebar .search p input {
  font-size: 11px; width: 92%;
}

/*--------------------------------------------------------------
 Footer
 --------------------------------------------------------------*/

#footer {
  border-top: 1px solid #ccc; 
  font-size: 90%; 
  color: #aaa;
}

#footer a:link,
#footer a:visited { 
  color: #aaa;
}

#footer a:hover,
#footer a:active { 
  color: #fff;
  background: #666;
  text-decoration: none;
}

#footer hr {
  display: none;
}

#footer p {
  width: 40%;
  float: left; 
  margin: 0; padding: 0; 
}

#footer ul {
  width: 40%;
  margin: 0; padding: 0;
  list-style-type: none; 
  text-align: right; 
  float: right; 
}

#footer li {
  margin: 0; padding: 0 0 0 1em;
  display: inline; 
}

/*--------------------------------------------------------------
 Syntax Highlighting - contributed by James Wilford
 Closely matches TextMate's "All Hallow's Eve" theme
 --------------------------------------------------------------*/

#content .typocode     { margin: 0.9em 0; padding: 8px; background: #000; }
#content .typocode pre { margin: 0; padding: 0;}

#content .typocode_linenumber .lineno     { text-align: right; }
#content .typocode_linenumber .lineno pre { width: 23px; padding-right: 3px; color: #777; background: #222; }

#content .typocode_ruby .normal    {}
#content .typocode_ruby .comment   { color: #9933cc; }
#content .typocode_ruby .keyword   { color: #cc7833; }
#content .typocode_ruby .method    { color: #fff; }
#content .typocode_ruby .class     { color: #fff; text-decoration: underline; }
#content .typocode_ruby .module    { color: #fff; text-decoration: underline; }
#content .typocode_ruby .punct     { color: #fff; }
#content .typocode_ruby .symbol    { color: #3387cc; }
#content .typocode_ruby .string    { color: #66cc33; }
#content .typocode_ruby .char      { color: #f07; }
#content .typocode_ruby .ident     { color: #fff; }
#content .typocode_ruby .constant  { color: #fff; }
#content .typocode_ruby .regex     { color: #cccc33; }
#content .typocode_ruby .number    { color: #3387cc; }
#content .typocode_ruby .attribute { color: #fff; }
#content .typocode_ruby .global    { color: #7fb; }
#content .typocode_ruby .expr      { color: #fff; }
#content .typocode_ruby .escape    { color: #277; }

#content .typocode_xml  .normal    {}
#content .typocode_xml  .namespace { color: #c60; font-weight: bold; }
#content .typocode_xml  .tag       { color: #9ff; }
#content .typocode_xml  .comment   { color: #ccc; font-style: italic; }
#content .typocode_xml  .punct     { color: #0d0; font-weight: bold; }
#content .typocode_xml  .string    { color: #c03; }
#content .typocode_xml  .number    { color: #ff0; }
#content .typocode_xml  .attribute { color: #bb7; }
                                             
#content .typocode_yaml .normal    {}        
#content .typocode_yaml .document  { color: #07f; font-weight: bold; }
#content .typocode_yaml .type      { color: #c60; font-weight: bold; }
#content .typocode_yaml .key       { color: #c60; }
#content .typocode_yaml .comment   { color: #ccc; font-style: italic; }
#content .typocode_yaml .punct     { color: #0d0; font-weight: bold; }
#content .typocode_yaml .string    { color: #c03; }
#content .typocode_yaml .number    { color: #ff0; }
#content .typocode_yaml .time      { color: #ff0; }
#content .typocode_yaml .date      { color: #ff0; }
#content .typocode_yaml .ref       { color: #944; }
#content .typocode_yaml .anchor    { color: #944; }

/*--------------------------------------------------------------
 Application.css
 sets defaults for bare elements
 --------------------------------------------------------------*/

@media print { #sidebar { display: none; }
               #content { float: none; width: 90%; }
               #content pre { color: #000; background: #eee; }
               #content form.comments { display: none; } }

body {
  /*background: url(../../images/theme/background.gif) repeat-x left top;*/
  font: normal 12px "lucida grande", verdana, sans-serif;
}

input,
textarea { font: normal 12px "bitstream vera sans", verdana, sans-serif; }

abbr  { border: none; }
cite  { font-style: normal; }
a img { border: none; padding: 0; margin: 0; }

a:link,  a:visited { color: #039;    text-decoration: underline; }
a:hover, a:active  { color: #00afff; text-decoration: none; }

/* http://longren.org/2006/09/27/wrapping-text-inside-pre-tags */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.tag { font-size: 280%; }
.tag1 { font-size: 100%; }
.tag2 { font-size: 110%; }
.tag3 { font-size: 120%; }
.tag4 { font-size: 130%; }
.tag5 { font-size: 140%; }
.tag6 { font-size: 150%; }
.tag7 { font-size: 160%; }
.tag8 { font-size: 170%; }
.tag9 { font-size: 180%; }
.tag10 { font-size: 190%; }
.tag11 { font-size: 200%; }
.tag12 { font-size: 210%; }
.tag13 { font-size: 220%; }
.tag14 { font-size: 230%; }
.tag15 { font-size: 240%; }
.tag16 { font-size: 250%; }
.tag17 { font-size: 260%; }
.tag18 { font-size: 270%; }
.tag19 { font-size: 280%; }
.tag20 { font-size: 290%; }
